.calculator-button {
  font-size: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gray {
  background-color: var(--light-gray);
}

.orange {
  background-color: var(--orange);
}
