.header {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  color: var(--purple);
}

h1 {
  font-size: 4rem;
}

.link {
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--purple);
  padding: 0 2rem;
  border-right: 1px solid var(--orange);
}

.link:last-of-type {
  border: none;
}

.link:hover {
  color: var(--salmon);
}

.link-container {
  display: flex;
  align-items: center;
}
